[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gexp"]
	path = gexp
	url = https://github.com/ivanalaman/gexp
[submodule "lba"]
	path = lba
	url = https://github.com/ivanalaman/lba
[submodule "ScottKnott"]
	path = ScottKnott
	url = https://github.com/ivanalaman/scottknott
